{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<!-- <form action="/change-password" method="post">
    <select class="form-select" aria-label="Default select example">
        <option selected name="selection">Open this select menu</option>
        {% for row in tables %}
        <option value="{{ row['site'] }}">{{ row["site"] }}</option>
        {% endfor %}
    </select>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="email"
            placeholder="Email" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="old_password"
            placeholder="Old Password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="new_password"
            placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="confirm_password"
            placeholder="Confirm New Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form> -->
<form>
    <div class="mb-3">
        <select id="list_sites" onChange="getEmail()" style="width: 150px; text-align: center">
            <option value="initial_value" selected>Choose an option</option>
            {% for row in tables %}
            <option value="{{ row['site'] }}">{{ row['site'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <select id="list_emails" disabled style="width: 250px; text-align: center"></select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_password" name="new_password"
            placeholder="New Password" type="password" onchange="button_check_change()">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirm_password"
            name="confirm_password" placeholder="Confirm New Password" type="password" onchange="button_check_change()">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" id="delete_password_btn_change" disabled
            onclick="change_password()">Submit</button>
    </div>
</form>
{% endblock %}