{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<form action="/change-password" method="post">
    <select class="form-select" aria-label="Default select example">
        <option selected name="selection">Open this select menu</option>
        {% for row in tables %}
        <option value="{{ row['site'] }}">{{ row["site"] }}</option>
        {% endfor %}
    </select>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="email"
            placeholder="Email" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="old_password"
            placeholder="Old Password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="new_password"
            placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="confirm_password"
            placeholder="Confirm New Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}