{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<form>
    <div class="mb-3">
        <select id="list_sites" onChange="getEmail();button_check_delete();" style="width: 150px; text-align: center">
            <option value="initial_value" selected>Choose an option</option>
            {% for row in tables %}
            <option value="{{ row }}">{{ row }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <select id="list_emails" disabled style="width: 250px; text-align: center"></select>
    </div>
    <div class="mb-3">
        Note: You cannot reverse the deletion of a password.
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" id="delete_password_btn_delete" disabled
            onclick="delete_password()">Submit</button>
    </div>
</form>
{% endblock %}