{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Website/Application</th>
            <!-- <th class="text-start">Name</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th> -->
            <th class="text-end">Password</th>
            <th class="text-end"></th>
        </tr>
    </thead>
    <tbody>
        {% for row in tables %}
        <tr>
            <td class="text-start">{{ row[0] }}</td>
            <!-- <td class="text-start">{{ row["name"] }}</td>
            <td class="text-end">{{ row["shares"] }}</td> -->
            <td class="text-end">{{ row[1] }}</td>
            <td class="text-end"><button type="button">Click Me!</button></td>
        </tr>
        {% endfor %}
    </tbody>
    <!-- <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end">{{ cash }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end">{{ total }}</td>
        </tr>
    </tfoot> -->
</table>
{% endblock %}