{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
<p style="text-align:left">Welcome, {{ name[0]["username"] }}</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Website/Application</th>
            <th class="text-start">Email</th>
            <th class="text-end">Password</th>
            <th class="text-end"></th>
        </tr>
    </thead>
    <tbody>
        {% for row in tables %}
        <tr>
            <td class="text-start">{{ row["site"] }}</td>
            <td class="text-start">{{ row["email"] }}</td>
            <td class="text-end"><button type="button" onclick="copyText('{{ row['site'] }}', '{{ row['email'] }}')"
                    style="width: 130px">Copy
                    Password</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}