virtual/bin
virtual/lib
virtual/pyvenv.cfg
virtual/include/.env
virtual/include/flask_session
virtual/include/__pycache__
virtual/include/decouple.py
../../node_modules/
../../package-lock.json
../../package.json