{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<form>
    <div class="mb-3">
        <select id="list_sites" onChange="getEmail()" style="width: 150px; text-align: center">
            <option value="initial_value" selected>Choose an option</option>
            {% for row in tables %}
            <option value="{{ row['site'] }}">{{ row['site'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <select id="list_emails" disabled style="width: 250px; text-align: center"></select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_password" name="new_password"
            placeholder="New Password" type="password" onchange="button_check_change()">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirm_password"
            name="confirm_password" placeholder="Confirm New Password" type="password" onchange="button_check_change()">
    </div>
    <div>
        Note: The "Submit" button can only be active when both filled-in passwords are the same.
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" id="delete_password_btn_change" disabled
            onclick="change_password()">Submit</button>
    </div>
</form>
{% endblock %}